{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
<!-- задаем заголовок страницы -->
{% block title %}This is an page{% endblock %}
<!-- блок body -->
{% block content %}
{{ wtf.quick_form(form, method='post',enctype="multipart/form-data", action="net") }}
        <table border="1">
    <tr>
      <td>Исходная</td>
      <td>с рамкой</td>
      <td>график</td>
      <td>по высоте</td>
      <td>по ширине</td>
      <td>по обоим</td>
    </tr>
    <tr>
    
      <td>
        {% if ishd %}
        <p>{{ishd}}
        <p><img src={{ishd}}/>
        {% else %}
        <p> There is no image yet </p>
        {% endif %}
    </td>

    <td>
        {% if image1_name %}
        <p>{{image1_name}}
        <p><img src={{image1_name}}/>
        {% else %}
        <p> There is no image yet </p>
        {% endif %}
    </td>
     <td>
        {% if gr_name %}
        <p>{{gr_name}}
        <p><img src={{gr_name}}/>
        {% else %}
        <p> There is no image yet </p>
        {% endif %}
    </td>
    <td>
        {% if pohe %}
        <p>{{pohe}}
        <p><img src={{pohe}}/>
        {% else %}
        <p> There is no image yet </p>
        {% endif %}
     </td>
     <td>
        {% if powie %}
        <p>{{powie}}
        <p><img src={{powie}}/>
        {% else %}
        <p> There is no image yet </p>
        {% endif %}
    </td>
        <td>
        {% if pooob %}
        <p>{{pooob}}
        <p><img src={{pooob}}/>
        {% else %}
        <p> There is no image yet </p>
        {% endif %}
    </td>
    </tr>
    
  </table>

{% endblock %}
