{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
<!-- задаем заголовок страницы -->
{% block title %}This is an page{% endblock %}
<!-- блок body -->
{% block content %}
{{ wtf.quick_form(form, method='post',enctype="multipart/form-data", action="net") }}


        {% if image1_name %}
        <p>{{image1_name}}
        <p><img src={{image1_name}}/>
        {% else %}
        <p> There is no image yet </p>
        {% endif %}
    
        {% if gr_name %}
        <p>{{gr_name}}
        <p><img src={{gr_name}}/>
        {% else %}
        <p> There is no image yet </p>
        {% endif %}
   

{% endblock %}
